<div class="container mt-5 p-5" >
  <div class="container mt-5 p-5" id= "new_list_form" >
    <h1>Nueva Lista</h1>
      <%= simple_form_for @list do |lista|%>
      <%= lista.input :name %>
      <%= lista.input :photo, as: :file %>
      <%= lista.button :submit, class:"btn btn-success" %>
      <%= link_to  "Back", lists_path, class: "btn btn-danger" %>
      <% end %>
  </div>
</div>

