<div class="banner_show">
  <div class="banner_show_content">
    <h1><%= @list.name %></h1>
    <%= link_to  "Agrega una película", new_list_bookmark_path(@list), class: "btn btn-success" %>
  </div>
</div>

<div class="container mt-5 ">
  <h1>Mis Películas</h1>
    <div class="d-flex justify-content-between ">
      <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="card-movie d-flex flex-column mt-3">
        <%= image_tag movie.poster_url, alt: "poster de película", class: "card-poster" %>
        <div class="card-details mt-1 d-flex m-2">
          <p><strong><%= movie.title %></strong></p>
          <p><i class="fas fa-star "></i><%= movie.rating %></p>
        </div>
        <p class = "m-2"><%= movie.overview %></p>
        <div class="action-card d-flex justify-content-between align-items-center m-2">
          <p><i class="fas fa-comments"></i><%= bookmark.comment %></p>
          <%= link_to  "Eliminar", bookmark_path(bookmark), class: "btn btn-danger", method: :delete %>
        </div>
      </div>
      <% end %>
    </div>
</div>